{% extends 'base.html' %}

{% block content %}

<h2>Danh sách nhân viên</h2>

{% if request.user.is_superuser %}
<a href="/employees/add" class="btn btn-success">
Thêm nhân viên
</a>
{% endif %}

<br><br>

<table class="table table-bordered">

<tr>

<th>Ảnh</th>
<th>Tên</th>
<th>Phòng ban</th>
<th>Chức vụ</th>
<th>Thao tác</th>

</tr>

{% for e in employees %}

<tr>

<td>
{% if e.photo %}
<img src="{{e.photo.url}}" width="50" style="border-radius:50%">
{% else %}
<img src="https://via.placeholder.com/50">
{% endif %}
</td>
<td>{{e.user.username}}</td>
<td>{{e.department}}</td>
<td>{{e.position}}</td>

<td>

{% if request.user.is_superuser or e.user == request.user %}
<a href="/employees/edit/{{e.id}}" class="btn btn-warning">
Sửa
</a>
{% endif %}

{% if request.user.is_superuser %}
<a href="/employees/delete/{{e.id}}" class="btn btn-danger">
Xóa
</a>
{% endif %}

</td>

</tr>

{% endfor %}

</table>

{% endblock %}

<form method="get">

<input type="text" name="q" placeholder="Tìm kiếm nhân viên">

<button class="btn btn-primary">
Tìm
</button>

</form>

<br>

<td>
{% if e.photo %}
<img src="{{e.photo.url}}" width="50">
{% endif %}
</td>